<label class="form-label">{{label}}:</label>
<ul>
    <li *ngFor="let control of formArray.controls; index as i" class="d-flex align-items-center gap-2 mb-2">
        <select class="form-control" [formControl]="$any(control)" (change)="onChange()">
            <ng-container *ngFor="let option of optionsState">
                <option *ngIf="option.disabled; else notDisabled" value="{{option.value}}" disabled>
                    {{option.text}}
                </option>

                <ng-template #notDisabled>
                    <option value="{{option.value}}">
                        {{option.text}}
                    </option>
                </ng-template>
            </ng-container>
        </select>
        <i class="bi bi-x-circle fs-4" (click)="deleteElement(i)"></i>
    </li>
</ul>

<button type="button" class="btn btn-sm btn-outline-secondary mb-2" (click)="addElement()">
    <i class="bi bi-plus-circle-fill"></i>
    Agregar
</button>