.vscode

Frontend/.vscode
Frontend/node_modules

Frontend/.angular
Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out

Frontend/node_modules
Frontend/npm-debug.log
Frontend/yarn-error.log

Frontend/.idea/
Frontend/.project
Frontend/.classpath
Frontend/.c9/
Frontend/*.launch
Frontend/.settings/
Frontend/*.sublime-workspace

Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json
Frontend/.history/*

Frontend/.angular/cache
Frontend/.sass-cache/
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/testem.log
Frontend/typings

Frontend/.DS_Store
Frontend/Thumbs.db

Backend/DetailTEC/DetailTEC/bin
Backend/DetailTEC/DetailTEC/obj
Backend/DetailTEC/DetailTEC/Reports/*.pdf