Frontend/.vscode
Frontend/node_modules

Frontend/.angular
Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out

Frontend/node_modules
Frontend/npm-debug.log
Frontend/yarn-error.log

Frontend/.idea/
Frontend/.project
Frontend/.classpath
Frontend/.c9/
Frontend/*.launch
Frontend/.settings/
Frontend/*.sublime-workspace

Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json
Frontend/.history/*

Frontend/.angular/cache
Frontend/.sass-cache/
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/testem.log
Frontend/typings

Frontend/.DS_Store
Frontend/Thumbs.db
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.assets.cache
*.cache
DB/DatabaseDetailTEC.sql
*.cache
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.GeneratedMSBuildEditorConfig.editorconfig
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.csproj.AssemblyReference.cache
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.assets.cache
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/apphost.exe
Backend/DetailTEC/.vs/DetailTEC/FileContentIndex/b4b7e61d-fd59-4e18-9cc2-80f1dce88efb.vsidx
Backend/DetailTEC/.vs/DetailTEC/FileContentIndex/a16cfa75-10c0-41ca-bb21-1461ec6c98ac.vsidx
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.GeneratedMSBuildEditorConfig.editorconfig
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.csproj.AssemblyReference.cache
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/DetailTEC.GeneratedMSBuildEditorConfig.editorconfig
*.cache
Backend/DetailTEC/DetailTEC/obj/Debug/net6.0/apphost.exe
