<form [formGroup]="this.formsService.form" (ngSubmit)="onSubmit()">
	<div class="row mb-3">
		<div class="col-6">
			<label class="form-label" for="idInput">Código:</label>
			<input class="form-control" id="idInput" type="text" formControlName="id">
		</div>

		<div class="col-6">
			<label class="form-label" for="nameInput">Nombre:</label>
			<input class="form-control" id="nameInput" type="text" formControlName="nombre">
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-6">
			<label class="form-label" for="brandInput">Marca:</label>
			<input class="form-control" id="brandInput" type="text" formControlName="marca">
		</div>

		<div class="col-6">
			<label class="form-label" for="supplierInput">Proveedor:</label>
			<select class="form-select" id="supplierInput" formControlName="idProveedor">
				<option *ngFor="let supplier of suppliers" value="{{supplier.id}}">{{supplier.nombre}}</option>
			</select>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-6">
			<label class="form-label" for="costInput">Costo:</label>
			<input class="form-control" id="costInput" type="number" formControlName="costo">
		</div>

		<div class="col-6">
			<label class="form-label" for="priceInput">Precio:</label>
			<input class="form-control" id="priceInput" type="number" formControlName="precio">
		</div>
	</div>

	<div class="d-flex justify-content-end">
		<input type="submit" class="btn btn-success btn-lg" value="{{productInfo ? 'Editar' : 'Crear'}}">
	</div>
</form>