<div class="container-sm">
    <h1 class="text-center mb-3">Información de Factura</h1>

    <app-message [messageInfo]="messageService.messageInfo"></app-message>

    <app-info-card [infoTitles]="billInfoTitles" [info]="bill"></app-info-card>
<!-- 
    <div class="d-flex justify-content-end mt-3">
        <app-modal [options]="{size:'lg', scrollable:true}" [showModalButtonText]="'Editar empleado'"
            [modalHeader]="'Edición de empleado'"> -->

    <!-- <app-add-employee-form></app-add-employee-form>
        </app-modal>
    </div> -->
</div>