<div class="container-sm">
    <h1 class="text-center mb-3">Información de producto</h1>

    <app-message [messageInfo]="messageService.messageInfo"></app-message>

    <app-info-card [infoTitles]="productInfoTitles" [info]="product"></app-info-card>

    <div class="d-flex justify-content-between mt-3">
        <div>
            <button class="btn btn-outline-secondary" (click)="auxFunctionsService.goBack()">Regresar</button>
        </div>

        <div class="d-flex gap-2">
            <app-modal [options]="{size:'md', scrollable:true}" [showModalButtonText]="'Editar producto'"
                [modalHeader]="'Edición de producto'">

                <app-add-product-form [productInfo]="product"></app-add-product-form>
            </app-modal>

            <button class="btn btn-outline-danger" (click)="deleteProduct()">Eliminar producto</button>
        </div>
    </div>
</div>