<section>
    <div>
        <p>Registro de Citas</p>
        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
            <div>
                <!-- <label for="client">Cliente:</label> -->
                <input type="idInput"  id="client" formControlName="client" placeholder="Cédula">
            </div>
            <div>
                <!-- <label for="vehicle">Vehiculo:</label> -->
                <input type="vehicleInput" id="vehicle" formControlName="vehicle" placeholder="Placa del auto">
            </div>
            <div>
            <!-- <label for="branch">Sucursal</label> -->
            <input type="branchInput" id="branch" formControlName="branch" placeholder="Sucursal">
            </div>
            <div>
            <!-- <label for="washingType">Tipo de lavado:</label> -->
            <input type="washingTypeInput" id="washingType" formControlName="washingType" placeholder="Tipo de lavado">
            </div>
            <button type="submit">Registrar Cita</button>
        </form>
    </div>
</section>
