<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>

    <div class="modal-body">
        <ng-content></ng-content>
    </div>

    <div *ngIf="footerButtonText" class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="footerButtonCallback()">
            {{footerButtonText}}
        </button>
    </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">
    {{showModalButtonText}}
</button>