<form [formGroup]="this.formsService.form" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col-4">
      <label class="form-label" for="nameInput">Nombre:</label>
      <input class="form-control" id="nameInput" type="text" formControlName="nombre">
    </div>

    <div class="col-4">
      <label class="form-label" for="lastNameInput1">Primer pellido:</label>
      <input class="form-control" id="lastNameInput1" type="text" formControlName="apellido1">
    </div>

    <div class="col-4">
      <label class="form-label" for="lastNameInput2">Segundo apellido:</label>
      <input class="form-control" id="lastNameInput2" type="text" formControlName="apellido2">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <label class="form-label" for="idInput">Cédula:</label>
      <input class="form-control" id=" idInput" type="number" formControlName="id">
    </div>

    <div class="col-6">
      <label class="form-label" for="emailInput">Correo electrónico:</label>
      <input class="form-control" id="emailInput" type="email" formControlName="email">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <label class="form-label" for="positionInput">Puesto:</label>
      <select class="form-select" id="positionInput" formControlName="puesto">
        <option value="Lavador">Lavador</option>
        <option value="Pulidor">Pulidor</option>
      </select>
    </div>

    <div class="col-6">
      <label class="form-label" for="paymentFrequencyInput">Frecuencia de pago:</label>
      <select class="form-select" id="paymentFrequencyInput" formControlName="frecuenciaPago">
        <option value="Semanal">Semanal</option>
        <option value="Bisemanal">Bisemanal</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <label class="form-label" for="birthDateInput">Fecha de nacimiento:</label>
      <div class="input-group">
        <input [minDate]="{year: 1922, month: 1, day: 1}" [maxDate]="{year: 2022, month: 12, day: 31}" ngbDatepicker
          id="birthDateInput" class="form-control" placeholder="yyyy-mm-dd" #d1="ngbDatepicker"
          formControlName="fechaNacimiento">
        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
          <i class="bi bi-calendar-date-fill"></i>
        </button>
      </div>
    </div>

    <div class="col-6">
      <label class="form-label" for="startingDateInput">Fecha de inicio:</label>
      <div class="input-group">
        <input [minDate]="{year: 1922, month: 1, day: 1}" [maxDate]="{year: 2022, month: 12, day: 31}" ngbDatepicker
          id="startingDateInput" class="form-control" placeholder="yyyy-mm-dd" #d2="ngbDatepicker"
          formControlName="fechaInicio">
        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
          <i class="bi bi-calendar-date-fill"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-4">
      <label class="form-label" for="oldPasswordInput">Contraseña actual:</label>
      <input class="form-control" id=" oldPasswordInput" type="password" formControlName="passwordVieja">
    </div>

    <div class="col-4">
      <label class="form-label" for="password">Nueva contraseña:</label>
      <input class="form-control" id="password" type="password" formControlName="password">
    </div>

    <div class="col-4">
      <label class="form-label" for="passwordConfirmInput">Confirme la nueva contraseña:</label>
      <input class="form-control" id="passwordConfirmInput" type="password" formControlName="passwordConfirm">
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <input type="submit" class="btn btn-success btn-lg" value="Editar">
  </div>
</form>