<div class="container-md">
    <h1 class="text-center mb-3">Lista de citas</h1>

    <app-message [messageInfo]="messageService.messageInfo"></app-message>

    <div class="d-flex justify-content-end mb-3">
        <app-modal [options]="{size:'md', scrollable:true}" [showModalButtonText]="'Agendar una cita'"
            [modalHeader]="'Reservación de cita'">
            <app-admin-add-appointment-form></app-admin-add-appointment-form>
        </app-modal>
    </div>

    <div class="overflow-scroll" style="height: 60vh;">
        <app-generic-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="id"></app-generic-table>
    </div>

</div>