<div class="container-sm">
    <h1 class="text-center mb-3">Información de cita</h1>

    <app-message [messageInfo]="messageService.messageInfo"></app-message>

    <app-info-card [infoTitles]="appointmentInfoTitles" [info]="appointment"></app-info-card>

    <div class="d-flex justify-content-end mb-3">
        <app-modal [options]="{size:'md', scrollable:true}" [showModalButtonText]="'Editar cita'"
            [modalHeader]="'Edición de cita'">
            <app-admin-add-appointment-form [appointmentInfo]="appointment"></app-admin-add-appointment-form>
        </app-modal>
    </div>
</div>