<div class="loginContainer">
    <app-message [messageInfo]="messageService.messageInfo"></app-message>

    <form class="loginForm" [formGroup]="this.formsService.form" (ngSubmit)="onSubmit()">
        <fieldset class="d-flex flex-column gap-3">
            <legend>Inicio de sesión</legend>

            <div>
                <label class="form-label" for="emailInput">Correo Electrónico: </label>
                <input class="form-control" id="emailInput" type="email" formControlName="email">
            </div>

            <div>
                <label class="form-label" for="passwordInput">Contraseña: </label>
                <input class="form-control" id="passwordInput" type="password" formControlName="password">
            </div>

            <div>
                <label class="form-label" for="loginTypeInput">Tipo de usuario</label>
                <select class="form-select" id="loginTypeInput" formControlName="tipoUsuario">
                    <option value="Cliente">Cliente</option>
                    <option value="Empleado">Empleado</option>
                </select>
            </div>

            <input class="btn btn-outline-primary" type="submit" value="Iniciar Sesión">
        </fieldset>
    </form>
</div>